<div class="flex flex-col-2 justify-center space-x-28 mx-auto max-w-screen-xl px-4 md:px-6 py-36">
    <div class="container">
      <div class="row">
      </div>
      <form #searchThirdPartyForm="ngForm" (ngSubmit)="submitForm(searchThirdPartyForm.form)" class="text-center">
        <div class="form-group">
          <label class="text-2xl font-semibold whitespace-nowrap dark:text-blue-500 mb-3 mr-5" for="movieSearch">Find Your Movie</label>
          <input type="text" class="form-control" name="movieSearch" ngModel>
        </div><br>
        <button type="submit" class="text-white bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mt-10">Find Movie</button>
      </form>
    </div>
  </div>
  




  <div *ngIf="movieAPI !== undefined">
      <div class = "results">
      <table class="table">
          <thead>
            <tr>
              <th id="titles" scope="col">Title</th>
            </tr>
          </thead>
          <tbody>
              <tr *ngFor="let result of movieAPI.results">
              <td class="movies">{{result.title}}</td>
              <button class="addmovie" (click)="AddMovieToUserList(result)">Add Movie</button>
              </tr>
          </tbody>
        </table>
      </div>
  </div>


