<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="text-center">
                <p class="yours">YOUR MOVIES</p>
            </div>
        </div>
    </div>
<div class="row">
<div class="col-1"></div>
    <div class="col-12">
        <div class="row">
            <div class="col-12" *ngFor="let userMovie of userMovieList ">
                <div class="card">

                    <div class="card-body">
                    <h5 class="card-title">{{userMovie.title}}</h5>
                    <p class="card-text">{{category[userMovie.category]}}</p>

                        <div class="dropdown">
                        <button class="category" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        Update Category
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">                                   
                                <li *ngFor="let userCategory of keys()">
                                <a class="dropdown-item" (click)="UpdateCategory(userMovie.id, userCategory)">{{userCategory}}</a></li>
                        </ul>
                        </div>

                    <button type="button" class="remove" (click)="DeleteMovieFromUserList(userMovie.id)">Remove Movie</button>                    
                    </div>
                </div>
            </div>
        </div>
    </div>   
<div class="col-2"></div>

</div>


<!--Lets use Tailwind CSS Below to make this better-->

<div class="container mx-auto">
    <button
      type="button"
      class="bg-blue-500 text-white px-4 py-2 rounded"
      @click="dropdownOpen = !dropdownOpen"
    >
      Select Category
    </button>
  
    <div
      class="relative inline-block text-left"
      (clickOutside)="dropdownOpen = false"
    >
      <div
        class="origin-top-right absolute right-0 mt-2 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5"
        *ngIf="dropdownOpen"
      >
        <div class="py-1" role="menu" aria-orientation="vertical" aria-labelledby="options-menu">
          <button
            *ngFor="let key of keys()"
            class="block w-full text-left px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900"
            role="menuitem"
            (click)="updateSelectedCategory(key)"
          >
            {{ key }}
          </button>
        </div>
      </div>
    </div>
  
    <p>
      Selected Category: <strong>{{ selectedCategory }}</strong>
    </p>
  
    <!-- Your other components and code -->
  </div>
  

