/* .container-fluid{
    background-color: rgb(92, 92, 105);
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */

/* .yours{
    font-size: 55px;
    color: rgb(248, 79, 107);
    text-shadow: 0 0 5px rgb(248, 79, 107);
    background-color: rgb(231, 231, 0);
    font-weight: 800;
    font-style: italic;
    border: 3px;
    border-style: solid;
    border-color: rgb(231, 231, 0);
} */

/*
.card{
    background-color: black;
   display: flex;
   flex-direction: column;
}

.card-title{
    color: rgb(231, 231, 0);
}

.card-text{
    color: rgb(248, 79, 107);
}

.category{
    font-size: 1rem;
    background-color: black;
    display: inline-block;
    padding: 0.25em 0.5em;
    cursor: pointer;
    text-decoration: none;
    color:rgb(248, 79, 107);
    border:rgb(248, 79, 107) 0.05em solid;
    border-width: 3px;
    border-radius: 0.35em;
    position: relative;

    text-shadow: 0 0 0.25em rgb(248, 79, 107),
    0 0 0.10em rgb(152, 152, 152);

    box-shadow: inset 0 0 0.5em 0 rgb(248, 79, 107),
    0 0 0.5em 0 rgb(248, 79, 107);
}

.category::before {
    pointer-events: none;
    content: "";
    position:absolute;
    background: rgb(248, 79, 107);
    top: 120%;
    left: 0;
    width: 100%;
    height: 100%;

    transform: perspective(1em) rotateX(30deg)
    scale(1, 0.35);
    filter:blur(.8em);
    opacity: 0.4;
}

.category:hover,
.category:focus {
    background: rgb(248, 79, 107);
    color: black;
    font-size: 1em;
    padding: 0.25em 0.5em;
    text-shadow: none;
}

.remove{
    font-size: 1rem;
    background-color: black;
    display: inline-block;
    padding: 0.25em 0.5em;
    cursor: pointer;
    text-decoration: none;
    color:rgb(248, 79, 107);
    border:rgb(248, 79, 107) 0.05em solid;
    border-width: 3px;
    border-radius: 0.35em;
    position: relative; top: -38px; left: 250px;

    text-shadow: 0 0 0.25em rgb(248, 79, 107),
    0 0 0.10em rgb(152, 152, 152);

    box-shadow: inset 0 0 0.5em 0 rgb(248, 79, 107),
    0 0 0.5em 0 rgb(248, 79, 107);
}

.remove::before {
    pointer-events: none;
    content: "";
    position:absolute;
    background: rgb(248, 79, 107);
    top: 120%;
    left: 0;
    width: 100%;
    height: 100%;

    transform: perspective(1em) rotateX(30deg)
    scale(1, 0.35);
    filter:blur(.8em);
    opacity: 0.4;
}

.remove:hover,
.remove:focus {
    background: rgb(248, 79, 107);
    color: black;
    font-size: 1em;
    padding: 0.25em 0.5em;
    text-shadow: none;
}
*/