<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="text-center">
                <p class="yours">YOUR MOVIES</p>
            </div>
        </div>
    </div>
<div class="row">
<div class="col-1"></div>
    <div class="col-12">
        <div class="row">
            <div class="col-12" *ngFor="let userMovie of userMovieList ">
                <div class="card">

                    <div class="card-body">
                    <h5 class="card-title">{{userMovie.title}}</h5>
                    <p class="card-text">{{category[userMovie.category]}}</p>

                    <!-- test code is going to be between these lines-->
                    <div class="relative">
                        <button type="button" class="py-2 px-4 font-semibold rounded-lg shadow-md text-white bg-blue-500 hover:bg-blue-700 focus:outline-none focus:ring-blue-300 focus:ring-4" (click)="toggleDropdown()">
                          Update Category
                        </button>
                        <ul class="absolute mt-2 py-2 w-40 bg-white rounded-md shadow-lg z-10" *ngIf="dropdownOpen">
                          <li *ngFor="let userCategory of keys()">
                            <a class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900" (click)="UpdateCategory(userMovie.id, userCategory)">{{userCategory}}</a>
                          </li>
                        </ul>
                      </div>
                    <!-- test code is going to be between-->

                        <div class="dropdown">
                        <button class="category" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        Update Category
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">                                   
                                <li *ngFor="let userCategory of keys()">
                                <a class="dropdown-item" (click)="UpdateCategory(userMovie.id, userCategory)">{{userCategory}}</a></li>
                        </ul>
                        </div>

                    <button type="button" class="remove" (click)="DeleteMovieFromUserList(userMovie.id)">Remove Movie</button>                    
                    </div>
                </div>
            </div>
        </div>
    </div>   
<div class="col-2"></div>

</div>


<!--Lets use Tailwind CSS Below to make this better-->

  